.container {
  max-width: 1080px;
  min-height: 60vh;

  margin: 8rem auto 4rem;
}

.container .title {
  font-size: 3rem;
  font-weight: 400;
}

body {
  scrollbar-width: 10px;
  scrollbar-color: rgba(111, 111, 111, 1);
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(111, 111, 111, 1);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */;  /* creates padding around scroll thumb */
}